    :root{
    --border:0px solid black;
    --margin: 0;
}


html,body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100vw;
    max-height: 100vh;
    font-family: roboto;
}

section{
    flex-wrap: wrap;
    background-color:#f0f2f5;
    margin: auto;
    padding: 0;
    padding-top: 10px;
    width: 100vw;
    min-height: 80vh;
    border: var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
}


.left{
    height: 5vh;
    width: 30%;
    min-width: 22rem;
    border: var(--border);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    margin-bottom: 140px;
}

.left *{
    margin: 0;
    padding: 0;
    border: var(--border);
}

.facebook{
    width: 16rem;
    transform: translate(-1.5rem);
    margin-top: 50px;
}

p{

    font-size: 1.6rem;
}

.right{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

hr{
    color: gainsboro;
}
.container{
    background-color: #fff;
    box-shadow: 1px 1px 8px 3px #dddfe2;
    border: var(--border);
    width: 22rem;
    height: 20rem;
    border-radius: 0.8ch;
    display: flex;
    justify-content: center;
}

input{
    
    width: 18rem;
    margin-top: 1rem;
    padding: 0.8rem;
    font-size: medium;
    border-radius: 6px;
    border: 1px solid #dddfe2;
}

input[type="button"]{
    width: 20rem;
    padding: 0.5rem;
    color: #fff;
    background-color: #1877f2;
    border: white;
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

form{
    border: var(--border);
    width: max-content;
    margin: auto;
}


#forgot{
    font-weight: normal;
    text-align: center;
    color: #1877f2;
    cursor: pointer;
}

button{
    background-color:#45c22c;
    padding: 0.6rem;
    display: block;
    border-radius: 6px;
    margin: auto;
    color: #fff;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    border: 0px;
    cursor: pointer;
}

#create{
    font-weight: normal;
}

span{
    font-weight: 600;
    cursor: pointer;
}
footer{
    display: flex;
    height: 20vh;
    border: 0px solid black;
    justify-content: center;
}
.links{
    margin: auto;
    padding: 0;
    width: max-content;
    height: max-content;
    border: 0px solid black;
    max-width: 60%;
}
ul{
    margin: 0;
    padding: 0;
}

ul li{
    font-size: 11px;
    display: inline-block;
    color: #8a8d91;
    padding-right: 1ch;
}
